.App {
  text-align: center;
}
.card-body{
  width: 30%; 
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 15px;
}
img{
  height: 100%;
  width: 95%;
  border-radius: 20px;
  object-fit: cover;
}
